/backend/.env
/backend/venv
/backend/__pycache__
/backend/app/__pycache__
/backend/app/api/__pycache__
/backend/app/core/__pycache__
/backend/app/models/__pycache__
/backend/app/schemas/__pycache__
/backend/app/main.pyc
/backend/app/main.pyo
/backend/app/main.pyd
/backend/app/main.pyw
/backend/app/main.pyz
/backend/app/main.pywz

/frontend/node_modules
/frontend/dist